* {
  background-image: none;
  transition: 0;
  box-shadow: none;
  font-family: Hack;
}
window {
  /* background-color: rgba(10, 10, 10, 0.1); */
  background: url("../wallpapers/2.png");
  background-size: cover;
}
button {
  color: #d4bff9;
  background-color: rgba(30, 30, 46, 0.9);
  border: 2 solid #313244;
  border-radius: 1rem;
  margin: 0.8rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12%;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 1.4rem;
}

button:focus,
button:active,
button:hover {
  background-color: rgb(30, 30, 46);
  outline-style: none;
  border: 2 solid #cba6f7;
}

#lock {
  background-image: image(
    url("/usr/share/wlogout/icons/lock.png"),
    url("/usr/local/share/wlogout/icons/lock.png")
  );
}

#logout {
  background-image: image(
    url("/usr/share/wlogout/icons/logout.png"),
    url("/usr/local/share/wlogout/icons/logout.png")
  );
}

#suspend {
  background-image: image(
    url("/usr/share/wlogout/icons/suspend.png"),
    url("/usr/local/share/wlogout/icons/suspend.png")
  );
}

#hibernate {
  background-image: image(
    url("/usr/share/wlogout/icons/hibernate.png"),
    url("/usr/local/share/wlogout/icons/hibernate.png")
  );
}

#shutdown {
  background-image: image(
    url("/usr/share/wlogout/icons/shutdown.png"),
    url("/usr/local/share/wlogout/icons/shutdown.png")
  );
}

#reboot {
  background-image: image(
    url("/usr/share/wlogout/icons/reboot.png"),
    url("/usr/local/share/wlogout/icons/reboot.png")
  );
}
